.product-bg {
	background: url('../../Assets/images/bg.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.product-bg-white {
	background: #ffffffbd;
	box-shadow: #00000040 0px 0px 25px 0px;
	padding-top: 80px;
	padding-bottom: 60px;
}

.Clients_bg_white {
  position: relative;
	background:#ffffffbd;
	margin-top: 6px;
	padding-bottom: 40px;
}

.Clients_bg_white .title {
	text-align: left;
	padding-bottom: 30px;
}
.Clients_bg_white .title h3 {
	color: #030000;
	font-size: 50px;
	line-height: 50px;
	padding-top: 40px;
}